APP_ENV=local
DATABASE_HOST=127.0.0.1
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_NAME=sample
DATABASE_PORT=5433
DATABASE_ENGINE=postgres
DATABASE_OPTION=
DATABASE_URL=postgres://root:password@127.0.0.1:5433/sample

COGNITO_DOMAIN=auth.example.com
AMPLIFY_APP_ORIGIN=http://localhost:3010
USER_POOL_CLIENT_ID=dummy
USER_POOL_ID=us-west-2_dummy
NEXT_PUBLIC_EVENT_HTTP_ENDPOINT=""
NEXT_PUBLIC_AWS_REGION="us-west-2"
EVENT_HTTP_ENDPOINT=""
AWS_REGION="us-west-2"
ASYNC_JOB_HANDLER_ARN=""
